pyrogram
tgcrypto
pymongo[srv]
motor==2.5.1
marshmallow
umongo
telegraph
googletrans
gTTS
asyncio
aiohttp
aiofiles
requests
pyshorteners
bs4
imdbpy
youtube-search-python
youtube_search
youtube-dl
yt-dlp
wget
python-arq
ffmpeg-python
requests
ytthumb
